APP__SERVER__HOST=127.0.0.1

APP__DATABASE__URL="postgres://username:password@localhost:5432/database_name"
APP__SECURITY__KEY=your32bytekey1234567890123456

APP__FROGSMS__API_KEY=FrogSMS_API_Key
APP__FROGSMS__SENDER_ID=FrogSMS_sender_id

APP__REDIS__URL=redis://localhost:6379

DATABASE_URL="postgres://username:password@localhost:5432/database_name"

RUN_MODE=development
RUST_LOG=info,tracing_actix_web=debug,api=debug
