APP__DATABASE__URL="postgres://postgres:password@localhost/hserver_db"
APP__SECURITY__KEY="<exactly 32-byte security key>"

APP__SMS__API_KEY='FrogSMS API Key'
APP__SMS__SENDER_ID='FrogSMS sender id'

RUN_MODE="development"
RUST_LOG='info,tracing_actix_web=debug,api=debug'
APP__SERVER__HOST='127.0.0.1'

APP__REDIS__URL=''

APP__PAYSTACK__SECRET_KEY=''
APP__CRON__SECRET_KEY=''
APP__QR__MASTER_KEY='' # must be even number of digits

APP__S3__ACCESS_KEY_ID=""
APP__S3__SECRET_ACCESS_KEY=""
APP__S3__BUCKET=""
APP__S3__REGION=""

DATABASE_URL="postgres://postgres:password@localhost/hserver_db"
