APP__SERVER__HOST=127.0.0.1

APP__DATABASE__URL=
APP__SECURITY__KEY=your32bytekey1234567890123456

APP__FROGSMS__API_KEY=FrogSMS_API_Key
APP__FROGSMS__SENDER_ID=FrogSMS_sender_id

APP__REDIS__URL=redis://localhost:6379


APP__QR__MASTER_KEY=1234567890abcdef

APP__XCEL__API_KEY=your_xcel_api_key
APP__XCEL__MERCHANT_ID=your_xcel_merchant_id

APP__S3__ACCESS_KEY_ID=your_access_key
APP__S3__SECRET_ACCESS_KEY=your_secret_key
APP__S3__BUCKET=your_bucket_name
APP__S3__REGION=us-east-1

DATABASE_URL=

RUN_MODE=development
RUST_LOG=info,tracing_actix_web=debug,api=debug
